@import "tailwindcss";



:root {
  --background: #ffffff;

}
body {
  background-color: #ffffff;
}

@keyframes flash {
    0%, 100% {
      background-color: #ef4444; /* red-500 */
      color: white;
    }
    50% {
      background-color: #1F157C; /* yellow-400 */
      color: white;
    }
  }
