@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;

}
body {
  background-color: #ffffff;
}

@keyframes floatFire {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-2px) rotate(-5deg);
  }

  100% {
    transform: translateY(0) rotate(5deg);
  }
}

